body,html{
	width:100%;
	height:100%;
}
/*第一屏*/
.container{
	width:100%;
	height:100%;
}
.section{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.bgbox{
    width:100%;
    height:100%;
	position:absolute;
	left:0;
	top:0;
    overflow: hidden;
}
.bgbox img{
	width:100%;
	height:100%;
}
.bgbox1{
	background:url(../images/bg11.png) no-repeat;
	position:absolute;
	bottom:0;
	width:100%;
	height:850px;
	transition:all 1s;
    opacity: 0;
}
.bgbox2{
	position: absolute;
    bottom: -392px;
    width: 100%;
    height: 392px;
    opacity: 0;
    background:url(../images/bg12.png) 50% 0  no-repeat;
	transition:all 1.7s;
}
.active .bgbox2{
	bottom: 90px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox3{
	position: absolute;
    bottom: -377px;
    width: 100%;
    height: 377px;
    opacity: 0;
    background: url(../images/bg13.png) 50% 0 no-repeat;
    transition: all 1s;
}
.active .bgbox3{
	bottom: 0;
    opacity: 1;
    transition-delay: 0.7s;
}
.topmail{
	position: absolute;
    left: 50%;
    top: -26px;
    width: 375px;
    height: 26px;
    margin-left: -187px;
    background-image: url(../images/logo.png);
    transition: all 1s;
    float: left;
    opacity: 0;
}
.active .topmail{
    top: 25px;
    opacity: 1;
    transition-delay: 0.7s;
}
.mail-1{
	height:100%;
	float: left;
    width: 107px;
}
.mail-2{
	height:100%;
	float: left;
    width: 107px;
    margin:0 23px;
}
.mail-3{
	height:100%;
	float: left;
    width: 115px;
}
.title{
	position: absolute;
    width: 554px;
    height: 176px;
    left: 50%;
    top: 25%;
    margin: 0 0 0 -277px;
    background-image: url(../images/slogan.png);
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}
.active .title {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.content{
	position: absolute;
    left: 50%;
    top: 55%;
    width: 600px;
    margin: 0 0 0 -280px;
    font-size: 14px;
    color: #94a7c6;
    opacity: 0;
    transition: all 0.7s;
}
.active .content {
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 2s;
}
.bgbox4{
    background:url(../images/bg23.png) 50% 0 no-repeat;
    position:absolute;
    bottom: -40%;
    left:50%;
    width: 819px;
    height: 325px;
    opacity: 0;
    margin-left: -409px;
    transition:all 1s;
}
.active .bgbox4{
    bottom:15%;
    opacity: 1;
    transition-delay: 0.3s;
}
.bgbox5{
    position: absolute;
    bottom:15%;
    left:50%;
    width: 819px;
    height: 250px;
    opacity:0;
    background:url(../images/bg21.png) 50% 0  no-repeat;
    transition:all 1s;
    margin-left: -1108px;
    margin-bottom: 40px;
    opacity: 0;
}
.active .bgbox5{
    margin-left:-890px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox6{
    position: absolute;
    bottom:15%;
    left:50%;
    margin-bottom: 76px;
    width: 819px;
    height: 299px;
    opacity: 0;
    background: url(../images/bg22.png) 50% 0 no-repeat;
    transition: all 1s;
    margin-left:320px;
}
.active .bgbox6{
    margin-left:20px;
    opacity: 1;
    transition-delay: 0.7s;
}
strong{
    position:absolute;
    left:50%;
    top:15%;
    z-index: 20;
    width:512px;
    height:45px;
    font-size: 24px;
    margin-left: -256px;
    font-weight: 500;
    color:#748a9e;
    opacity:0;
    transform:scale(0.5);
    transition:all 1s;
}
.active strong{
    opacity: 1;
    transform:scale(1);
    transition-delay:0.7s;
}
.title1{
    background:url(../images/t2.png)no-repeat;
    position:absolute;
    left:50%;
    top:15%;
    z-index: 20;
    width:512px;
    height:45px;
    margin-left: -256px;
    margin-top:60px;
    opacity: 0;
    transform:scale(0.5);
    transition:all 1s;
}
.active .title1{
    opacity: 1;
    transform:scale(1);
    transition-delay:0.7s;
}
.content1{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 510px;
    margin: 130px 0 0 -255px;
    font-size: 16px;
    color: #727f8c;
    opacity: 0;
    transition: all 1s;
}
.active .content1 {
    opacity: 1;
    transition-delay: 1.7s;
}
.bgbox7{
    background:url(../images/bg32.png) 470px bottom no-repeat;
    position:absolute;
    bottom:0;
    left:50%;
    width: 892px;
    height: 472px;
    opacity: 0;
    margin-left: -396px;
    transition:all 1s;
}
.active .bgbox7{
    opacity: 1;
    transition-delay: 1s;
}
.bgbox8{
    background:url(../images/bg31.png) 50% 0 no-repeat;
    position:absolute;
    bottom:0;
    left:50%;
    width: 892px;
    height: 472px;
    opacity: 0;
    margin-left: -396px;
    margin-bottom:80px;
    transition:all 1s;
}
.active .bgbox8{
    opacity: 1;
    transition-delay: 1s;
}
.bgbox9{
    background:url(../images/bg33.png)0 0 no-repeat;
    position:absolute;
    left:50%;
    bottom:0;
    width:441px;
    height:380px;
    margin-left: 50%;
    transition: all 1s;
    opacity: 0;
}
.active .bgbox9{
    margin-left: -120px;
    opacity: 1;
    transition-delay: 0.7s;
}
.title2{
    background:url(../images/t3.png)no-repeat;
    position:absolute;
    left:50%;
    top:15%;
    z-index: 20;
    width:512px;
    height:45px;
    margin-left: -256px;
    margin-top:60px;
    opacity: 0;
    transform:scale(0.5);
    transition:all 1s;
}
.active .title2{
    opacity: 1;
    transform:scale(1);
    transition-delay:0.7s;
}
.content2{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 430px;
    margin: 250px 0 0 -100%;
    color: #fffde1;
    font-size: 16px;
    opacity: 0;
    transition: all 1s;
}
.active .content2 {
    margin-left:-480px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox10{
    background:url(../images/bg41.png) 50% 0 no-repeat;
    position:absolute;
    bottom:-372px;
    width: 100%;
    height: 372px;
    transition:all 1s;
}
.active .bgbox10{
    bottom:15%;
    transition-delay: 0.7s;
}
.bgbox11{
    background:url(../images/bg42.png) 50% 0 no-repeat;
    position:absolute;
    bottom:-449px;
    width: 100%;
    height: 449px;
    transition:all 1s;
}
.active .bgbox11{
    bottom:15%;
    transition-delay: 1.1s;
}
.bgbox12{
    background:url(../images/bg43.png);
    position:absolute;
    bottom:-449px;
    width: 100%;
    height: 449px;
    margin-bottom: -130px;
    transition:all 1s;
}
.active .bgbox12{
    bottom:15%;
    transition-delay: 0.9s;
}
.title3{
    background:url(../images/t4.png)no-repeat;
    position:absolute;
    left:50%;
    top:15%;
    z-index: 20;
    width:512px;
    height:45px;
    margin-left: -256px;
    margin-top:60px;
    opacity: 0;
    transform:scale(0.5);
    transition:all 1s;
}
.active .title3{
    opacity: 1;
    transform:scale(1);
    transition-delay:0.7s;
}
.content3{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 510px;
    margin:130px 0 0 -255px;
    color: #727f8c;
    font-size: 16px;
    opacity: 0;
    transition: all 1s;
}
.active .content3 {
    opacity: 1;
    transition-delay: 1.7s;
}
.title4{
    background:url(../images/t5.png)no-repeat;
    position:absolute;
    left:50%;
    top:15%;
    z-index: 20;
    width:512px;
    height:45px;
    margin-left: -256px;
    margin-top:60px;
    opacity: 0;
    transform:scale(0.5);
    transition:all 1s;
}
.active .title4{
    opacity: 1;
    transform:scale(1);
    transition-delay:0.7s;
}
.section5 .bgbox{
    z-index: 1;
}
.section5 h4 {
    margin-bottom: 12px;
    font-size: 23px;
    font-weight: 500;
}
.section5 p {
    font-size: 14px;
}
.bgbox13, .bgbox14, .bgbox15, .bgbox16 {
    position: absolute;
    z-index: 1;
    width: 208px;
    left: 50%;
    bottom: 20%;
    padding-top: 210px;
    color: #fff;
}
.bgbox13 {
    margin-left: -851px;
    background: url(../images/bg51.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bgbox13{
    margin-left: -551px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox14 {
    margin-left: -403px;
    background: url(../images/bg52.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bgbox14{
    margin-left: -253px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox15 {
    margin-left:195px;
    background: url(../images/bg53.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bgbox15{
    margin-left: 45px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox16 {
    margin-left:645px;
    background: url(../images/bg54.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bgbox16{
    margin-left: 345px;
    opacity: 1;
    transition-delay: 0.7s;
}
.title5{
    background:url(../images/t6.png)no-repeat;
    position:absolute;
    left:50%;
    top:15%;
    z-index: 20;
    width:512px;
    height:45px;
    margin-left: -256px;
    margin-top:60px;
    opacity: 0;
    transform:scale(0.5);
    transition:all 1s;
}
.active .title5{
    opacity: 1;
    transform:scale(1);
    transition-delay:0.7s;
}
.bgbox17 {
    position: absolute;
    top: -454px;
    width: 100%;
    height: 545px;
    background: url(../images/bg61.png) 50% 0 no-repeat;
    transition: all 1s;
    z-index: -1;
}
.active .bgbox17 {
    z-index: 1;
    top: 0;
    transition-delay: 0.2s;
}
.bgbox18 {
    position: absolute;
    left: 10%;
    bottom: 20%;
    width: 597px;
    height: 284px;
    margin-left: -657px;
    background-image: url(../images/bg62.png);
    transition: all 1s;
}
.active .bgbox18 {
    left: 50%;
    opacity: 1;
    transition-delay: 0.7s;
}
.content6 {
    position: absolute;
    left: 90%;
    bottom: 20%;
    width: 447px;
    margin-left: 90px;
    opacity: 0;
    transition: all 1s;
}
.active .content6 {
    left: 50%;
    opacity: 1;
    transition-delay: 0.7s;
}
.content6 p {
    margin-bottom: 17px;
    color: #5C7970;
}
.section6{
    overflow: hidden;
}
.title6{
    background:url(../images/t7.png)no-repeat;
    position:absolute;
    left:50%;
    top:15%;
    z-index: 20;
    width:512px;
    height:45px;
    margin-left: -256px;
    margin-top:60px;
    opacity: 0;
    transform:scale(0.5);
    transition:all 1s;
}
.active .title6{
    opacity: 1;
    transform:scale(1);
    transition-delay:0.7s;
}
.bgbox19{
    position: absolute;
    left: 50%;
    bottom: -201px;
    width: 699px;
    height: 201px;
    margin-left: -630px;
    background: url(../images/bg71.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bgbox19 {
    bottom: 250px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox20{
    position: absolute;
    left: 50%;
    bottom: -206px;
    width: 182px;
    height: 206px;
    margin-left: -170px;
    background: url(../images/bg72.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bgbox20{
    bottom: 350px;
    opacity: 1;
    transition-delay: 0.9s;
}
.bgbox21 {
    position: absolute;
    left: 50%;
    bottom: 170px;
    width: 651px;
    height: 231px;
    margin-left: -530px;
    background: url(../images/bg73.png) 50% 0 no-repeat;
}
.bbgbox{
    top:auto;
    bottom:0;
    width: 100%;
    height: 251px;
}
.content7 {
    position: absolute;
    left: 50%;
    bottom: -150px;
    width: 420px;
    margin-left: 100px;
    opacity: 0;
    transition: all 1s;
}
.active .content7{
    bottom: 250px;
    opacity: 1;
    transition-delay: 1.1s;
}
.content7 p{
    margin-bottom: 17px;
    color: #EAEFF2;
}
.bgbox22 {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 215px;
    background: url(../images/bg81.png) 50% 0 no-repeat;
}
.bgbox23 {
    position: absolute;
    left: 50%;
    bottom: 160px;
    width: 164px;
    height: 117px;
    opacity: 0;
    margin-left: -180px;
    background-image: url(../images/bg82.png);
    transition: all 1s;
}
.active .bgbox23 {
    bottom:260px;
    margin-left:-280px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox24 {
    position: absolute;
    left: 50%;
    opacity: 0;
    bottom: 280px;
    width: 70px;
    height: 29px;
    margin-left: -330px;
    background-image: url(../images/bg83.png);
    transition: all 1s;
}
.active .bgbox24 {
    bottom:380px;
    margin-left:-430px;
    opacity: 1;
    transition-delay: 1s;
}
.bgbox25 {
    position: absolute;
    left: 50%;
    bottom: 320px;
    width: 43px;
    height: 26px;
    opacity: 0;
    margin-left: -410px;
    background-image: url(../images/bg84.png);
    transition: all 1s;
}
.active .bgbox25 {
    bottom:420px;
    margin-left:-510px;
    opacity: 1;
    transition-delay: 1.2s;
}
.section8 strong {
    width: 561px;
    margin-left: -280px;
}
.title7{
    width: 561px;
    margin-left: -280px;
    background:url(../images/t8.png)no-repeat;
    position:absolute;
    left:50%;
    top:15%;
    z-index: 20;
    height:45px;
    margin-top:60px;
    opacity: 0;
    transform:scale(0.5);
    transition:all 1s;
}
.active .title7{
    opacity: 1;
    transform:scale(1);
    transition-delay:0.7s;
}
.content8{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 565px;
    margin-left: -282px;
    margin-top: 130px;
    font-size: 16px;
    color: #727F8C;
    opacity: 0;
    transition: all 1s;
}
.active .content8 {
    opacity: 1;
    transition-delay: 1.7s;
}
.title8{
    background:url(../images/t9.png)no-repeat;
    position:absolute;
    left:50%;
    top:15%;
    z-index: 20;
    width:609px;
    height:45px;
    margin-left: -304px;
    margin-top:60px;
    opacity: 0;
    transform:scale(0.5);
    transition:all 1s;
}
.active .title8{
    opacity: 1;
    transform:scale(1);
    transition-delay:0.7s;
}
.title8 span{
    position: absolute;
    left: -100px;
    top: -48px;
    width: 89px;
    height: 90px;
    background-image: url(../images/yixin.png);
}
.section9 strong{
    width: 609px;
    margin-left: -304px;
}
.bgbox26,.bgbox27,.bgbox28{
    padding-top: 350px;
    font-size: 16px;
    color: #fff;
}
.bgbox26{
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 340px;
    margin-left: -970px;
    background: url(../images/bg91.png) 0 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.bgbox26 p{
    position: relative;
    left: 20px;
    margin-left: 40px;
    border-right: 1px solid #13AB86;
}
.active .bgbox26{
    margin-left: -570px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox27 {
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 340px;
    margin-left: -180px;
    background: url(../images/bg92.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bgbox27 {
    opacity: 1;
    transition-delay: 0.8s;
}
.bgbox27 p{
    position: relative;
    left: 40px;
    margin-left: 30px;
}
.active .bgbox28 {
    margin-left: 230px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bgbox28 {
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 340px;
    margin-left: 630px;
    background: url(../images/bg93.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.bgbox28 p{
    position: relative;
    left: -20px;
    padding-left: 100px;
    border-left: 1px solid #13AB86;
}
.bgbox29{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/bg101.png) 50% 20% no-repeat;
}
.bgbox30{
    position: absolute;
    width: 100%;
    top: 25%;
    height: 79px;
    background: url(../images/bg102.png) 50% 0 no-repeat;
    opacity: 0;
    transform: scale(0.5);
    transition: all 1s;
}
.active .bgbox30{
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.7s;
}
.bgbox31{
    position: absolute;
    width: 100%;
    top: 25%;
    height: 37px;
    margin-top: 110px;
    background: url(../images/bg103.png) 50% 0 no-repeat;
    opacity: 0;
    transform: scale(0.5);
    transition: all 1s;
}
.active .bgbox31{
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.7s;
}
.btn{
    position: absolute;
    left: 50%;
    top: 55%;
    width: 254px;
    height: 70px;
    margin-top: 220px;
    margin-left: -127px;
    text-indent: -9999px;
    background-image: url(../images/btn.png);
    opacity: 0;
    transition: all 1s;
}
.active .btn{
    top: 25%;
    opacity: 1;
    transition-delay: 1.2s;
}
.lianjie{
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 0;
}
.lianjie a,.lianjie span{
    margin: 0 7px;
    font-size: 12px;
    color: #a0a0a0;
}

#fp-nav ul li{
    width: 90px;
    height: 21px;
    margin: 10px 0 0;
    vertical-align: middle;
    display: block;
    position: relative;
}
#fp-nav ul li a{
    display: block;
    position: relative;
    z-index: 1;
    float: right;
    width: 21px;
    height: 21px;
    color: #8F9DA4;
    text-decoration: none;
    text-align: right;
    cursor:pointer;
    background: url(../images/dot.png) 5px 5px no-repeat;
}
#fp-nav li .active {
    background-position: 0 bottom;
}
#fp-nav span {
    display: none;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}